# Data Handling
pandas==2.1.1
numpy==1.26.5

# Visualization
matplotlib==3.8.1
seaborn==0.12.3

# Machine Learning
scikit-learn==1.3.2
xgboost==1.7.6  # optional, in case you want feature importance analysis

# Deep Learning / Autoencoders
tensorflow==2.15.0

# Graph Analysis (optional)
networkx==3.1
